.titulo-formulario{
    padding:1% 1% 5% 1%;
}
/*Media Query Para una vista movil*/
@media screen and (max-width:600px){
    .map{
        width: 100%;
    }
    .mapa iframe{
        width:100%;
    }
}
